@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
li {
  list-style: none;
}
button {
  background-color: none;
  border: none;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;

  .svg-container {
    height: 70%;
    position: absolute;
    top: 0;
    right: -300px;
    z-index: -1;

    @include media-breakpoint-up(md) {
      height: 90%;
      right: 0;
    }

    svg {
      width: 872px;
      height: 743px;
      @include media-breakpoint-down(sm) {
        height: 70vh;
      }
    }
  }

  .search {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 15px;

    @include media-breakpoint-up(md) {
      max-width: 600px;
      bottom: 30%;
      left: 10%;
    }

    &__title {
      @include media-breakpoint-up(md) {
        max-width: 300px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 440px;
      }
      h2 {
        @include media-breakpoint-up(md) {
          font-size: 38px;
          font-weight: 500;
          line-height: 44px;
          letter-spacing: 0.012em;
        }
        @include media-breakpoint-up(xl) {
          font-size: 52px;
          line-height: 60px;
          letter-spacing: 0.015em;
        }
      }
    }
    &__input {
      padding: 10px;
      input {
        padding: 20px 10px;
        height: 50px;
        width: 75%;
        border-radius: 6px;
        border: 1px solid black;
        margin-right: 10px;
        @include media-breakpoint-up(md) {
          width: 45%;
        }
      }
      button {
        padding: 15px;
        height: 52px;
        width: 52px;
        background-color: #b9db58;
        border-radius: 6px;
        color: #fff;
      }
    }
  }
}

.best-recipes {
  margin-top: 40px;
  min-height: 100vh;
  width: 100%;
  &__title {
    margin: 20px 0;
    text-align: center;
    h2 {
      // color: #295a8a;

      font-weight: 700;
      font-size: 36px;
    }

    p {
      max-width: 600px;
      margin: auto;
      color: #a9a6b8;
      font-weight: 500;
      letter-spacing: 0.015em;
    }
  }
}

.know-more {
  margin-top: 40px;
  position: relative;
  .svg-container {
    @include media-breakpoint-down(sm) {
      opacity: 30%;
    }
  }
  &__text {
    position: absolute;
    max-width: 465px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    text-align: left;
    @include media-breakpoint-down(sm) {
      transform: translateX((-50%));
      max-width: none;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
    h2 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
      color: #2d3561;
    }
    p {
      letter-spacing: -0.003em;
      line-height: 32px;
      font-size: 16px;
      font-weight: 400;
      margin-top: 1em;
      color: #a9a6b8;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    button {
      padding: 15px 25px;
      background-color: #b9db58;
      border-radius: 6px;
      font-weight: 600;
      color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}

.blog {
  padding-top: 40px;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__title {
    text-align: center;
    h2 {
      // color: #295a8a;
      font-weight: 700;
      font-size: 36px;
    }

    p {
      max-width: 600px;
      margin: auto;
      color: #a9a6b8;
      font-weight: 500;
      letter-spacing: 0.015em;
    }
  }
  &__carousel {
    margin: 40px 0;
  }
}

.join {
  width: 100%;
  height: 100vh;
  position: relative;
  .svg-container {
    width: 100%;
    position: relative;
    @include media-breakpoint-down(sm) {
      opacity: 30%;
    }
    svg {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  &__text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    @include media-breakpoint-down(sm) {
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      max-width: 450px;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 40px;
      text-align: left;
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    input {
      padding: 20px 10px;
      width: 360px;
      height: 50px;
      max-width: 320px;
      border-radius: 6px;
      border: 1px solid black;
      margin-right: 10px;
    }
    button {
      padding: 15px;
      width: 100px;
      height: 52px;
      background-color: #b9db58;
      border-radius: 6px;
      color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      @include media-breakpoint-down(sm) {
        margin-top: 10px;
      }
    }
  }
}
