.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  max-width: 250px;
  margin: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @include media-breakpoint-up(sm) {
    max-width: none;
    width: 100%;
    display: flex;
    padding: 0;
  }
  &__image {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__info {
    width: 418px;
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      flex-direction: column;
      padding: 15px;
    }
    &--title {
      // width: 100%;
      text-align: center;
      padding: 5px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      color: #000;

      border-radius: 6px;
      font-weight: 600;
      @include media-breakpoint-up(sm) {
        padding-top: 10px;
        position: static;
        font-size: 18px;
        background: none;
        transform: translate(0, 0);
      }
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }
    button {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      background: #badc58;
      padding: 15px 20px;
      border-radius: 6px;
      font-weight: 600;
      &:hover {
        cursor: pointer;
      }
      @include media-breakpoint-up(sm) {
        position: static;
        transform: translate(0, 0);
        left: 0;
      }
    }
  }
}
